{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>게시판 - 목록 {%block title%}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/mdb.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.min.css' %}" rel="stylesheet">
    <style type="text/css">
    body {
        font-family: 'Gowun Batang', serif;
        background: #faf9eb;
    }

    html,
    body,
    header,
    .carousel {
      height: 10vh;
    }


  </style>
</head>
{% include "navbar.html" %}

<body>
<header style="margin-top: 70px;">
    <div class="navbar shadow-sm mb-3">
        <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand d-flex align-items-center">
                <strong>게시판</strong>
            </a>
        </div>
    </div>
</header>
<div class="container">
    <div class="board-wrapper">
    <table class="table">
        <thead class="thead-light">
        <tr class="text-center">
            <th scope="col">제목</th>
            <th scope="col">내용</th>
            <th scope="col">작성자</th>
        </tr>
        </thead>
        {% for board in all_board %}
        <tbody>
        <tr class="text-center">
            <th>
                <span>{{board.title}}</span>
            </th>
            <td>
                <span>{{board.content}}</span>
            </td>
            <td>
                <span>{{board.writer}}</span>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="4">
            <a class='btn btn-light-green float-right ml-2' href="{% url 'core:create' %}">글쓰기</a>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
</div>

    {% block content %}
    {% endblock content %}

    {% block extra_body %}
    {% endblock %}

    {% include "footer.html" %}
    {% include "scripts.html" %}

    {% block extra_scripts %}
    {% endblock extra_scripts %}
</body>
</html>